<!--cart -->
<div
  class="offcanvas offcanvas-end product-list"
  tabindex="-1"
  id="ecommerceCart"
  aria-labelledby="ecommerceCartLabel"
>
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="ecommerceCartLabel">
      My Cart
      <span class="badge bg-danger align-middle ms-1 cartitem-badge"></span>
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <div data-simplebar class="h-100">
      <ul class="list-group list-group-flush cartlist"></ul>

      <div class="table-responsive mx-2 border-top border-top-dashed">
        <table class="table table-borderless mb-0 fs-14 fw-semibold">
          <tbody>
            <tr>
              <!-- <td>Sub Total :</td>
              <td class="text-end cart-subtotal">₹</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer border-top p-3 text-center">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h6 class="m-0 fs-16 text-muted">Total:</h6>
      <div class="px-2">
        <h6 class="m-0 fs-16 cart-total">$1218.98</h6>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-6">
        <a href="/get-cart-page" class="btn btn-light w-100" id="reset-layout">
          View Cart
        </a>
      </div>
      <div class="col-6">
        <a href="/checkout" target="_blank" class="btn btn-info w-100"
          >Continue to Checkout</a
        >
      </div>
    </div>
  </div>
</div>
