
<!-- footer -->

<section class="section bg-light bg-opacity-25" style="background-image: url('/static/frontend/images/ecommerce/bg-effect.png');background-position: center; background-size: cover;">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-lg-6">
              <div>
                  <p class="fs-15 text-uppercase fw-medium"><span class="fw-semibold text-danger">25% Up to</span> off all Products</p>
                  <h1 class="lh-base text-capitalize mb-3">Stay home & get your daily needs from our shop</h1>
                  <p class="fs-15 mb-4 pb-2">Start You'r Daily Shopping with <a href="/products" class="link-secondary fw-medium text-decoration-underline">FASCO</a></p>
                 
              </div>
          </div>
          <div class="col-lg-4">
              <div class="mt-4 mt-lg-0">
                  <img src="/static/frontend/images/ecommerce/subscribe.png" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="position-relative py-5">
  <div class="container">
      <div class="row gy-4 gy-lg-0">
          <div class="col-lg-3 col-sm-6">
              <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                      <img src="/static/frontend/images/ecommerce/fast-delivery.png" alt="" class="avatar-sm">
                  </div>
                  <div class="flex-grow-1">
                      <h5 class="fs-15">Fast &amp; Secure Delivery</h5>
                      <p class="text-muted mb-0">Tell about your service.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                      <img src="/static/frontend/images/ecommerce/returns.png" alt="" class="avatar-sm">
                  </div>
                  <div class="flex-grow-1">
                      <h5 class="fs-15">2 Days Return Policy</h5>
                      <p class="text-muted mb-0">No question ask.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                      <img src="/static/frontend/images/ecommerce/guarantee-certificate.png" alt="" class="avatar-sm">
                  </div>
                  <div class="flex-grow-1">
                      <h5 class="fs-15">Money Back Guarantee</h5>
                      <p class="text-muted mb-0">Within 5 business days</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                      <img src="/static/frontend/images/ecommerce/24-hours-support.png" alt="" class="avatar-sm">
                  </div>
                  <div class="flex-grow-1">
                      <h5 class="fs-15">24 X 7 Service</h5>
                      <p class="text-muted mb-0">Online service for customer</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section footer-landing pb-0">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="footer-info">
                  <img src="/static/frontend/images/logo-light.png" alt="" height="28" class="logo-light">
                  <img src="/static/frontend/images/logo-dark.png" alt="" height="28" class="logo-dark">
                  <p class="footer-desc mt-4 mb-2 me-3">Toner provides best fashion experience for both men and women at best pricing. We follow New fashion approach to give best premium feel.</p>

                  <div class="footer-social mt-4">
                      <ul class="list-inline mb-0">
                          <li class="list-inline-item">
                              <a href="#!" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#!" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#!" class="text-reset"><i class="mdi mdi-google"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="#!" class="text-reset"><i class="mdi mdi-pinterest"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="row ps-0 ps-lg-3">
                  <div class="col-md-3">
                      <div class="mt-lg-0 mt-4">
                          <h5 class="footer-title">Categories</h5>
                          <ul class="list-unstyled footer-link mt-3">
                              <li><a href="#!">Men</a></li>
                              <li><a href="#!">Jewellers</a></li>
                              <li><a href="#!">Accessories</a></li>
                              <li><a href="#!">Clothing</a></li>
                              <li><a href="#!">Beauty Items</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="mt-lg-0 mt-4">
                          <h5 class="footer-title">Information</h5>
                          <ul class="list-unstyled footer-link mt-3">
                              <li><a href="#!">Custom Service</a></li>
                              <li><a href="#!">FAQs</a></li>
                              <li><a href="#!">Ordering</a></li>
                              <li><a href="#!">Tracking</a></li>
                              <li><a href="#!">Contacts</a></li>
                          </ul>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="mt-lg-0 mt-4">
                          <h5 class="footer-title">My Account</h5>
                          <ul class="list-unstyled footer-link mt-3">
                              <li><a href="#!">Sign In</a></li>
                              <li><a href="#!">View Cart</a></li>
                              <li><a href="#!">My Wishlist</a></li>
                              <li><a href="#!">Track My Order</a></li>
                              <li><a href="#!">Help</a></li>
                          </ul>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="mt-lg-0 mt-4">
                          <h5 class="footer-title">Customer Service</h5>
                          <ul class="list-unstyled footer-link mt-3">
                              <li><a href="#!">Payment Methods</a></li>
                              <li><a href="#!">Money-back!</a></li>
                              <li><a href="#!">Returns</a></li>
                              <li><a href="#!">Shipping</a></li>
                              <li><a href="#!">Terms and conditions</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row footer-border-alt mt-4 align-items-center fs-15">
          <div class="col-sm-6">
              <script>document.write(new Date().getFullYear())</script> © FASCO  
            </div>
          <div class="col-sm-6">
              <div class="text-sm-end d-none d-sm-block">
                  <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                          <a href="#!"><img src="/static/frontend/images/ecommerce/payment/visa.png" alt="" height="30"></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#!"><img src="/static/frontend/images/ecommerce/payment/discover.png" alt="" height="30"></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#!"><img src="/static/frontend/images/ecommerce/payment/american-express.png" alt="" height="30"></a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#!"><img src="/static/frontend/images/ecommerce/payment/paypal.png" alt="" height="30"></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- footer -->


<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script> 

<!-- JAVASCRIPT -->
<script src="/static/frontend/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/frontend/libs/simplebar/simplebar.min.js"></script>
<script src="/static/frontend/js/plugins.js"></script>

<!-- nouisliderribute js -->
<script src="/static/frontend/libs/nouislider/nouislider.min.js"></script>
<script src="/static/frontend/libs/wnumb/wNumb.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.2/b-3.0.1/b-html5-3.0.1/datatables.min.js"></script>

<!-- landing-index js -->
<!-- <script src="/static/frontend/js/frontend/menu.init.js"></script> -->

<script src="/static/script/fasco-main.js"></script>
</body>
</html>

