
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script> 

<!-- JAVASCRIPT -->
<script src="/static/frontend/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/frontend/libs/simplebar/simplebar.min.js"></script>
<script src="/static/frontend/js/plugins.js"></script>

<!-- nouisliderribute js -->
<script src="/static/frontend/libs/nouislider/nouislider.min.js"></script>
<script src="/static/frontend/libs/wnumb/wNumb.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.2/b-3.0.1/b-html5-3.0.1/datatables.min.js"></script>

<!-- landing-index js -->
<!-- <script src="/static/frontend/js/frontend/menu.init.js"></script> -->

<script src="/static/script/fasco-main.js"></script>
</body>
</html>

