
 

<!-- JAVASCRIPT -->
<script src="/static/frontend/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/frontend/libs/simplebar/simplebar.min.js"></script>
<script src="/static/frontend/js/plugins.js"></script>

<!-- nouisliderribute js -->
<script src="/static/frontend/libs/nouislider/nouislider.min.js"></script>
<script src="/static/frontend/libs/wnumb/wNumb.min.js"></script>

<!-- Product-grid init js -->
<script src="/static/frontend/js/frontend/product-grid.init.js"></script>

<!-- landing-index js -->
<script src="/static/frontend/js/frontend/menu.init.js"></script>


</body>
</html>

