<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />

    <title>FASCO</title>
      <!-- App favicon -->
      <link rel="shortcut icon" href="/static/frontend/images/favicon.ico">

      <!-- nouisliderribute css -->
      <link rel="stylesheet" href="/static/frontend/libs/nouislider/nouislider.min.css">

      <!-- Bootstrap Css -->
      <link href="/static/frontend/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <!-- Icons Css -->
      <link href="/static/frontend/css/icons.min.css" rel="stylesheet" type="text/css">
      <!-- App Css-->
      <link href="/static/frontend/css/app.min.css" rel="stylesheet" type="text/css">
      <!-- custom Css-->
      <link href="/static/frontend/css/custom.min.css" rel="stylesheet" type="text/css">





  </head>
  <body>