<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />

  <title>FASCO</title>

  <!-- App favicon -->
  <link rel="shortcut icon" href="/frontend/images/favicon.ico" />

  <!-- nouisliderribute css -->
  <link rel="stylesheet" href="/frontend/libs/nouislider/nouislider.min.css" />

  <!-- Bootstrap Css -->
  <link href="/frontend/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="/frontend/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="/frontend/css/app.min.css" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="/frontend/css/custom.min.css" rel="stylesheet" type="text/css" />
  <!-- data table -->
  <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.2/b-3.0.1/b-html5-3.0.1/datatables.min.css"
    rel="stylesheet" />
</head>

<body></body>

</html>