<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded">
      <div class="modal-header p-3">
        <div class="position-relative w-100">
          <input
            type="text"
            class="form-control form-control-lg border-2"
            placeholder="Search ..."
            autocomplete="off"
            id="search-options"
            value=""
          />
          <span class="bi bi-search search-widget-icon fs-17"></span>
          <a
            href="javascript:void(0);"
            class="search-widget-icon fs-14 link-secondary text-decoration-underline search-widget-icon-close d-none"
            id="search-close-options"
            >Clear</a
          >
        </div>
        <button id="btn-search" class="btn btn-primary rounded text-white p-3">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
